* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@media (max-width: 500px) {
    .application {
        padding: 5% 10px !important;
    }
}

body {
    margin: 0;
    font-family: Roboto;
    font-size: 0.875rem;
    overflow-x: hidden;

    .application {
        min-height: 100vh;
        padding: 5% 100px 5%;

        input {
            border: none;
            font-size: 0.875rem;
            font-weight: 500;
            font-family: inherit;

            &:focus {
                outline: none;
            }
        }

        ul,
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            font-family: Roboto;
        }

        h4 {
            font-size: 1rem;
            font-weight: 700;
        }

        h5 {
            font-size: 0.875rem;
            font-weight: 700;
        }

        h6 {
            font-size: 0.875rem;
            font-weight: 700;
        }
    }
}